* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
}

.navigation-list-container {
    background-color: rgb(73, 9, 212);
    opacity: 8;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;


}

.navigation-list {
    display: flex;
    gap: 10%;
    flex-grow: 1;

}

.navigation-list-item {


    list-style-type: none;
    margin-left: 20px;
    display: flex;
    align-content: center;
    height: 50px;
    /* flex-grow: 1; */
}

.navigation-list-item:hover {
    background: #000000;
    transform: scale(1.1);

}

.nav-link-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    display: block;
    align-content: center;
    height: 100%;
    width: 100%;

}


main {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    margin: 0 50px;
}

.table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto 1fr 1fr;
}



.cell-h {
    background-color: rgb(247, 38, 219);
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    color: white;
    height: 30px;
    align-content: center;
    border-radius: 5px;
    margin-right: 10px;


}

.cell {
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 5px 20px;
    align-content: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;



}

footer {
    background-color: beige;
    height: 50px;
    width: 100%;
    align-content: center;
    position: absolute;

    bottom: 0;
}